@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Press+Start+2P&family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    background-color: #07023dc5;
}
span a{
    text-decoration: none;
    margin: 0 60px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
span a:hover{
    color: #b50664;
    
}

.no-result{
    display: flex;
    justify-content: center;
    align-items: center;
}
.no-result p{
    font-size: 25px;
    font-weight: 500;
    background-color: #b50664;
    color: #fff;
    border-radius: 25px;
    margin-top: 20vh;
    text-align: center;
    width: 480px;
}
.fk-body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
}
.container{
    position: relative;
    max-width: 1200px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0,0.1); 
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.container header::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px ;
    height: 3px;
    width: 50px;
    border-radius: 8px;
    background-color:#b50664;
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 190px;
    
}
.container form .details{
    margin-top: 30px;
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    
    color: #fff;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: 300px;
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
font-size: 15px;
font-weight: 500;
color: #fff;
text-align: center;

}
.input-field input{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border-radius: 5px;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    letter-spacing: 1px;
    
    box-shadow: 0 5px 15px rgba(0,0,0,0,0.05);
}
.input-field input::placeholder{
    color: #fff;
}
.input-field select option{
    color: black;
}


.input-field select{
    font-weight: 400;
    color: #fff;
    border-radius: 5px;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    letter-spacing: 1px;
    
    box-shadow: 0 5px 15px rgba(0,0,0,0,0.05);
}
.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}
.input-field input[type="date"]{
    color: #fff;
}
.input-field input[type="date"]:valid{
    color: #fff;
}
.reg{
    
     width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}
.reg:hover{
    cursor: pointer;
}
.reg input[type="submit"]{
     width: 300px;
    height: 42px;
    font-weight: bold;
    background-color: #b50664;
    color: #fff;
    border: none;
    border-radius: 20px;
}
.reg input[type="submit"]{
    cursor: pointer;
}
.reg input[type="submit"]:hover{
    color: #07023dc5;;
}



.container-2{
    position: relative;
    max-width: 1200px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0,0.1); 
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.container-2 header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.container-2 header::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px ;
    height: 3px;
    width: 50px;
    border-radius: 8px;
    background-color:#b50664;
}
.container-2 form{
    position: relative;
    margin-top: 16px;
    min-height: 190px;
    
}
.container-2 form .details{
    margin-top: 30px;
}
.container-2 form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    
    color: #fff;
}
.container-2 form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer{
    min-height: 10vh;
    width: 100%;
    background-color: rgb(47, 46, 46);
    margin-top: 10vh;
    position: fixed;
    bottom: 0;
}
.col-12{
    display: flex;
    justify-content: center;
}
.col-12 p{
    margin-top: 4vh;
    color: #fff;
}
.customfile::-webkit-file-upload-button{
    background: #b50664;
    width: 30%;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 8px;
    color: white;
}

.cont-msg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.successo{
    text-align: center;
    font-size: 25px;
    color: #fff;
    background-color: #b50664;
    border-radius: 20px;

    width: 50%;
    margin: 10vh;

}
.errore{
    text-align: center;
    font-size: 25px;
    color: #fff;
    background-color: black;
    border-radius: 20px;
    width: 50%;
    margin: 3vh;
}

#titolo{
	font-family: 'Righteous', sans-serif;
}